@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --Soft-Blue: hsl(231, 69%, 60%);
    --Soft-Red: hsl(0, 94%, 66%);
    --Grayish-Blue: hsl(229, 8%, 60%);
    --Very-Dark-Blue: hsl(229, 31%, 21%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    position: relative;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======= same class ====== */
.paddingContent {
    padding: 8%;
}

/* ========= end ========== */

/* === MOBILE MENU === */

@keyframes animateMenu {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.mobile-menu {
    background-color: hsl(229deg 31% 21% / 92%);
    position: fixed;
    width: 84%;
    height: 557px;
    color: white;
    padding: 9% 8%;
    z-index: 10;
    animation: animateMenu 600ms;
}

.mobile-header {
    display: flex;
    border-bottom: 1px solid var(--Grayish-Blue);
    padding-bottom: 30px;
}

#close__button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.mobile-list > a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid var(--Grayish-Blue);
    font-size: 18px;
    letter-spacing: 2px;
}

.login-mobile {
    text-align: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 2px;
}

.social-media-mobile {
    display: flex;
    margin-top: auto;
    justify-content: center;
    gap: 35px;
    margin-top: 160px;
}

/* ============= HEADER ================= */
header {
    display: flex;
    padding: 9% 8%;
}

#hamburger {
    height: 15px;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.header-navigation {
    display: none;
}

/* ============= MAIN CONTENT ============ */

.main-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
}

.image-wrapper-main {
    width: 95vw;
    margin: auto;
}

.image-section {
    padding: 2% 2%;
    background-image: url(images/background-image-main.svg);
    background-size: 411px;
    background-repeat: no-repeat;
    background-position: 22vw 22vw;
}

.image-wrapper-main > img {
    width: 100%;
}

.content-description > h1 {
    color: var(--Very-Dark-Blue);
    font-size: 29px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.content-description > p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: var(--Grayish-Blue);
    margin-bottom: 2em;
}

.button-wrapper-main {
    display: flex;
    justify-content: center;
}

.get-chrome {
    background-color: var(--Soft-Blue);
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
    border: 1px solid hsla(231, 69%, 60%, 0);
    
}

.get-chrome:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--Soft-Blue);
    color: var(--Soft-Blue);
}

.get-firefox {
    background-color: hsl(0deg 0% 97%);
    padding: 15px;
    font-size: 13px;
    font-weight: 500;
    color: var(--Very-Dark-Blue);
    border-radius: 5px;
    box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
    border: 1px solid hsla(231, 69%, 60%, 0);
}

.get-firefox:hover {
    background-color: white;
    cursor: pointer;
    border: 1px solid var(--Very-Dark-Blue);
    color: var(--Very-Dark-Blue);
}

/* ============== FEATURES =============== */

.features > h1 {
    color: var(--Very-Dark-Blue);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.features > p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: var(--Grayish-Blue);
    padding-bottom: 2em;
    border-bottom: 1px solid var(--Grayish-Blue);
}

ul {
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4em;
}

ul > li {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid var(--Grayish-Blue);
    color: hsl(233, 7%, 47%);
}

.features-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

.image-features {
    background-image: url(images/background-image.svg);
    background-size: 411px;
    background-repeat: no-repeat;
    background-position: -30vw 16vw;
    padding-bottom: 3em;
}

.image-features-wrapper {
    width: 84vw;
    margin: auto;
}

.image-features-wrapper > img {
    width: 100%;
}

.bookmark-description > h1 {
    color: var(--Very-Dark-Blue);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.bookmark-description > p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: var(--Grayish-Blue);
}

/* =================== Donwload Extension ========= */
.download-extension > h1 {
    color: var(--Very-Dark-Blue);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.download-extension > p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: var(--Grayish-Blue);
}

.download-extension-brand {
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
}

.browser-logo {
    margin: auto;
    width: 280px;
    box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2em;
    height: 354px;
}

.install-button-wrapper {
    padding: 22px;
}

.install-button {
    padding: 15px;
    background-color: var(--Soft-Blue);
    color: white;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
}

.install-button:hover {
    cursor: pointer;
    cursor: pointer;
    background-color: white;
    color: var(--Soft-Blue);
    border: 1px solid var(--Soft-Blue);
}

.logo {
    padding: 25px;
    margin-top: 15px;
}

.browser-logo > h1 {
    color: var(--Very-Dark-Blue);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.browser-logo > p {
    color: var(--Grayish-Blue);
    margin-bottom: 30px;
}

/* ================== FAQ ================== */
.faq-wrapper {
    text-align: center;
}

.faq-wrapper > h1 {
    color: var(--Very-Dark-Blue);
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1em;
}

.faq-wrapper > p {
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    color: var(--Grayish-Blue);
}

.question {
    color: var(--Very-Dark-Blue);
    display: flex;
    font-size: 15px;
    padding: 22px 0px;
}

.question:hover {
    color: var(--Soft-Red);
    cursor: pointer;
}

/* === toggle === */
.borderBottom {
    border-bottom: 1px solid var(--Grayish-Blue);
}

.transformRotate {
    transform: rotate(180deg);
    transition: 0.3s;
    transform-origin: 50%;
}

.fillArrow {
    stroke: var(--Soft-Red);
}

.displayNone {
    display: none;
}

/* === End === */

.question > svg {
    margin-left: auto;
}

.accordion > p {
    color: var(--Grayish-Blue);
    font-size: 15px;
    line-height: 27px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.more-info {
    font-size: 14px;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 5em;
    padding: 15px;
    background-color: var(--Soft-Blue);
    text-align: center;
    width: 95px;
    border-radius: 5px;
    box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
    color: white;
}

.more-info:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--Soft-Blue);
    color: var(--Soft-Blue);
}

/* ============== BOTTOM CONTENT ========= */
.bottom-content {
    color: white;
    background-color: var(--Soft-Blue);
}

.bottom-content > p {
    margin-top: 3em;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 11px;
    margin-bottom: 1em;
    text-align: center;
}

.bottom-content > h1 {
    font-size: 23px;
    margin-bottom: 1em;
    text-align: center;
}

.contact-us {
    display: flex;
    flex-direction: column;
}

/* === Toggle === */
.marginBottom {
    margin-bottom: 1em;
}

.hideBackground {
    background-size: 0;
}
/* === end === */

.input-email {
    width: 311px;
    /* margin: auto; */
    background-color: white;
    border: 2px solid var(--Soft-Red);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
}

input[type="text"] {
    font-family: 'Rubik', sans-serif;
    width: 287px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-image: url(images/icon-error.svg);
    background-repeat: no-repeat;
    background-position: 275px 10px;
    background-size: 0px;
}

input[type="text"]:focus {
    outline: none;
}

::placeholder {
    color: var(--Grayish-Blue);
}

.error-message {
    background-color: var(--Soft-Red);
    color: white;
    font-size: 9px;
    text-align: left;
    padding: 6px;
    font-style: italic;
}

.contact-button {
    background-color: var(--Soft-Red);
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    width: 285px;
    margin: auto;
    text-align: center;
    border: 1px solid hsla(0, 94%, 66%, 0);
}

.contact-button:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid var(--Soft-Red);
    color: var(--Soft-Red);
    margin: calc(50% -1px);
    transition: 0.3s;
}

/* ======== FOOTER =========== */
footer {
    background-color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: column;
    padding: 6%;
}

footer > svg {
    margin: auto;
    margin-bottom: 1em;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    line-height: 45px;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 2em;
}

.footer-navigation > a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
}

.footer-navigation > a:hover {
    color: var(--Soft-Red);
}

.social-media {
    display: flex;
    gap: 35px;
    justify-content: center;
}

.social-media > svg > path:hover {
    fill: var(--Soft-Red);
    cursor: pointer;
}

#twitter {
    margin-top: auto;
    margin-bottom: auto;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px) {
    .paddingContent {
        padding: 5%;
    }

    .image-section {
        background-size: 800px;
        background-position: 39vw 20vw;
    }

    ul > li::after {
        top: 89%;    
    }

    .image-features {
        background-size: 800px;
        background-position: -30vw 13vw;
    }
}

@media (min-width: 992px) {
    header {
        padding: 6%;
    }

    header > img {
        display: none;
    }

    .header-navigation {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .header-navigation > a {
        text-decoration: none;
        color: var(--Very-Dark-Blue);
        margin-left: 25px;
        font-size: 14px ;
        border-radius: 5px;
        letter-spacing: 2px;
    }

    .header-navigation > a:hover {
        color: var(--Soft-Red);
    }

    #login-button {
        background-color: var(--Soft-Red);
        color: white;
        box-shadow: 0px 10px 14px -5px hsl(231deg 69% 60% / 50%);
        padding: 15px 30px;
        border: 1px solid hsla(0, 94%, 66%, 0);
        width: 60px;
        height: 30px;
    }

    #login-button:hover {
        background-color: white;
        border: 1px solid var(--Soft-Red);
        color: var(--Soft-Red);
        transition: 0.3s;
    }

    .paddingContent {
        padding: 6%;
    }

    .main-content {
        flex-direction: row-reverse;
        margin-bottom: 1em;
    }

    .image-section {
        background-position: 19vw 15vw;
        background-size: 550px;
    }

    .image-wrapper-main {
        width: 50vw;
    }

    .content-description > h1,
    .content-description > p {
        text-align: left;
    }

    .button-wrapper-main {
        justify-content: left;
    }

    /* ====== FEATURES ======== */
    .features-description {
        margin-bottom: 3em;
    }

    .features > p {
        padding-right: 8em;
        padding-left: 8em;
        border-bottom: none;
    }

    ul {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;
    }

    ul > li::after {
        display: none;
    }

    ul > li:hover {
        color: var(--Soft-Red);
        cursor: pointer;
    }

    /* === toggle === */
    .borderSliderBottom {
        border-bottom: 3px solid var(--Soft-Red);
    }
    /* === end === */
    .features-description {
        flex-direction: row;
    }

    .image-features {
        padding-left: 7%;
        padding-bottom: 3em;
        background-size: 550px;
        background-position: -12vw 9vw;
    }

    .image-features-wrapper {
        width: 43vw;
    }

    .bookmark-description > h1,
    .bookmark-description > p {
        text-align: left;
    }

    .bookmark-description > .more-info {
        margin: 0;
        margin-top: 2em;
    }

    .download-extension-brand {
        flex-direction: row;
        padding-top: 0;
        height: 435px;
        gap: 1vw;
        margin-bottom: 1em;
    }

    .browser-logo {
        margin-top: 0;
    }

    #firefox {
       margin-top: 40px;
    }
    
    #opera {
        margin-top: 80px;
    }

    /* ======= FAQ ========== */
    .faq-wrapper {
        padding-right: 30%;
        padding-left: 30%;
        padding-bottom: 5px;
    }

    .faq-wrapper > p {
        padding-bottom: 35px;
        border-bottom: 1px solid var(--Grayish-Blue);
    }

    .faq-accordion {
        padding-top: 0;
        padding-bottom: 15px;
        padding-right: 30%;
        padding-left: 30%;
    }

    .faq-accordion > .more-info:hover {
        margin: calc(50% -2px);
        margin-bottom: calc(5em - 2px);
        color: var(--Soft-Blue);
    }

    /* ==== BOTTOM CONTENT ==== */

    .bottom-content {
        padding-right: 25%;
        padding-left: 25%;
    }

    .bottom-content > p {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 2em;
    }

    .bottom-content > h1 {
        font-size: 30px;
        line-height: 35px;
    }

    .contact-us {
        flex-direction: row;
    }

    .input-email {
        margin-bottom: 0;
    }

    .contact-button {
        margin-top: 0;
        margin-left: 1em;
    }

    /* ===== FOOTER ======= */
    footer {
        flex-direction: row;
        padding: 15px;
        padding-right: 10%;
        padding-left: 10%;
    }

    footer > svg {
        margin: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
    }

    .footer-navigation {
        flex-direction: row;
        margin: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .footer-navigation > a {
        margin-left: 40px;
        font-size: 12px;
    }

    .social-media {
        margin-left: auto;
    }

    .social-media > svg {
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media (min-width: 1280px) {
    .paddingContent {
        padding-right: 10%;
        padding-left: 10%;
    }

    header {
        padding-right: 10%;
        padding-left: 10%;
    }

    .image-section {
        background-position: 20vw 13vw;
        background-size: 745px;
    }

    .content-description {
        padding-right: 5%;
    }

    .content-description > h1 {
        font-size: 35px;
    }

    /* === FEATURES === */
    .image-features {
        padding-left: 10%;
        background-size: 745px;
        background-position: -15vw 6vw;
        padding-bottom: 7%;
    }

    .image-features-wrapper {
        width: 39vw;
    }

    /* === DOWNLOAD ==*/

    .download-extension-brand {
        padding-right: 15%;
        padding-left: 15%;
        gap: 0px;
    }

    /* ==== FAQ === */

    .faq-accordion, .faq-wrapper {
        padding-right: 32%;
        padding-left: 32%;
    }

    /* === BOTTOM CONTENT === */
    .bottom-content {
        padding-right: 33%;
        padding-left: 33%;
    }
}
